<section class="jumbotron text-center" id="top">
  <div class="container">
    <h1 id="top-title">ダンスペアズ</h1>
    <p>
      ダンスペアズは、社交ダンス(競技ダンス)のリーダー・パートナーを見つけるアプリです。<br>
      今すぐあなたも、「ペアを探す！」から未来の素敵なパートナーを見つけましょう！
    </p>
    <h2 id="top-howto">使い方</h2>
    <p id="top-howto-contents">
      (1) 初めての方はユーザー登録をしましょう。<br>
      (2) ログインをします。<br>
      (3) 「ペアを探す！」からあなたのページに行き、「編集」を押します。<br>
      (4) 詳細なプロフィールを設定しましょう。<br>
      (5) 「ペアを探す！」で気になる人を探し、メッセージを送りましょう。<br>
    </p>
  </div>
</section>