@import "bootstrap-sprockets";
@import "bootstrap";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}


// ヘッダーここから

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #333;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #333;
  text-decoration: none;
}

// ヘッダーここまで


// サインイン・サインアップフォームここから

.actions {
  margin: 25px;
}

.field {
  margin: 10px 0;
}

#copyright {
  margin-top: 20px;
}

.jumbotron-sign {
  max-width: 400px;
  margin: 0 auto;
}

// サインイン・サインアップフォームここまで


// トップページここから

.jumbotron-extend {
  position: relative;
  height: 600px;
  min-height: 300px;
  margin-top: 20px;
  background: image-url('top.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-container {
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}

.jumbotron-container h1 {
  font-size: 50px;
}

// トップページここまで


// アラートここから

.alert {
  margin-top: 20px;
}

// アラートここまで


// ユーザー一覧ここから

#search {
  margin-top: 30px;
  margin-bottom: 10px;
}

.card-title {
  text-align: center;
}

.card-img-top {
  width: 100%;
  object-fit: cover;
}

.jumbotron-cover {
  margin: 0 auto;
  width: 90%;
}

.linkto {
  text-decoration: none;
  color: 000;
}

// ユーザー一覧ここまで