@import "bootstrap-sprockets";
@import "bootstrap";

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.actions {
  margin: 25px;
}

.field {
  margin: 10px 0;
}

#copyright {
  margin-top: 20px;
}

.alert {
  margin-top: 20px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #333;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #333;
  text-decoration: none;
}

.jumbotron {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}

#top {
  max-width: 1000px;
}

#top-title {
  margin: 50px 0;
}

#top-howto {
  margin: 50px 0;
}

#top-howto-contents {
  text-align: left;
}

.jumbotron .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.linkto {
  text-decoration: none;
}

.linkto:hover {
  text-decoration: none;
}